/*Général*/

html {
    border : 2px solid black;
}
body {
    /* background-color: black; */
    background-image: url("https://jooinn.com/images/tv-screen-texture-1.png");
    color: rgb(20, 235, 20);
    border-radius: 25px;
    font-family: 'Press Start 2P', cursive;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 5px rgb(20, 235, 20);
    display: grid;
    padding: 10px;
    grid-template-columns: auto;
    grid-template-rows: 20% 50% 10% 20%;
    column-gap: 50px;
    row-gap: 50px;
}

.ligne {
    /*border: 5px solid blue;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.ligne div {

    /*border: 5px solid green;*/
    margin: 5px;
    padding: 10px;
}

.moins {
    background-color: transparent;
    border: 0px solid grey;
    box-shadow: 0px 0px 10px 5px grey;
    color: rgb(20, 235, 20);
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    /*height: 30px;
    width: 30px; */
}

.plus {
    background-color: transparent;
    border: 0px solid grey;
    box-shadow: 0px 0px 10px 5px grey;
    color: rgb(20, 235, 20);
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    /* height: 30px;
    width: 30px; */
}

/*Ligne 1*/

.ligne:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.ligne:nth-child(1) img {
    margin: auto;
    width: 150px;
}

progress {
    max-width: 150px;
    margin: auto;
    background-color: rgb(190, 190, 190)
}

progress::-moz-progress-bar {
    background-color: rgb(20, 235, 20);
}


/*Ligne 2*/

.ligne:nth-child(2) {
    display: flex;
    justify-content: space-between;

}

.ligne:nth-child(2) div {
    border: 1px solid black;
    box-shadow: 0px 0px 10px 15px grey;
    border-radius: 25px;
    width: 30%;
    text-align: center;
    padding: 10px;
}

/*Front*/


.ligne:nth-child(2) .img-front {
    width: 40px;
}

li {
    list-style-type: none;
}

p#fro {
    font-weight: bold;
}

/*Pseudo*/


.ligne:nth-child(2) div:nth-child(2) {
    background-image: url(../img/tsc.png);
    background-position: bottom 10px right 6px;
    background-repeat: no-repeat;
    max-width: 300px;
    max-height: 300px;
}

/* Back */

.ligne:nth-child(2) div:nth-child(3) img {
    width: 40px;
}

/*Ligne 3*/

.ligne:nth-child(3) {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

/*Ligne 4*/

.ligne:nth-child(4) div:nth-child(1) {
    text-align: center;
}

.ligne:nth-child(4) div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div {
    /*border: 5px solid yellow;*/
    display: flex;

}


.ligne:nth-child(4) div:nth-child(2) div:nth-child(2) {
    grid-column: 3 / 4;
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div:nth-child(3) {
    grid-column: 5 / 6;
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div:nth-child(4) {
    grid-column: 1 / 2;
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div:nth-child(5) {
    grid-column: 3 / 4;
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div:nth-child(6) {
    grid-column: 5 / 6;
    padding: 10px;
}

.ligne:nth-child(4) div:nth-child(2) div img {
    width: 50px;
}


/* Fin CSS structure (Vincent & Cécile) */
